{% extends "./base.html" %}
{% block cssFile %}
  {% load static %}
  <link href={% static 'joblist/css/index.css' %} rel="stylesheet" />
{% endblock cssFile %}
{% block title %}
  All Job Listings
{% endblock title %}
{% block content %}
  <div class="container">
    {% if latest_job_listings %}
      {% for listing in latest_job_listings %}
        {% if forloop.counter0|divisibleby:3 %}<div class="row">{% endif %}
          <div class="col col-lg-4 col-md-12 col-sm-12">
            {% url 'listing' listing.id as internalUrl %}
            <a href={{ internalUrl }}>
              <div class="card">
                <div class="card-header"></div>
                <div class="card-body">
                  <h2>{{ listing.jobTitle }}</h2>
                  <h4>around {{ listing.jobLocation }}</h4>
                  <h4>details: {{ listing.jobAttributes }}</h4>
                </div>
                <div class="card-footer"></div>
              </div>
            </a>
            {% if forloop.counter|divisibleby:3 %}</div>{% endif %}
        </div>
      {% endfor %}
      <ul class="pagination">
        {% if latest_job_listings.has_previous %}
          <li class="page-item">
            <a class="page-link" href="?page=1">&laquo; first</a>
          </li>
          <li class="page-item">
            <a class="page-link"
               href="?page={{ latest_job_listings.previous_page_number }}">previous</a>
          </li>
        {% endif %}
        <span class="current">Page {{ latest_job_listings.number }} of {{ latest_job_listings.paginator.num_pages }}.</span>
        {% if latest_job_listings.has_next %}
          <li class="page-item">
            <a class="page-link"
               href="?page={{ latest_job_listings.next_page_number }}">next</a>
          </li>
          <li class="page-item">
            <a class="page-link"
               href="?page={{ latest_job_listings.paginator.num_pages }}">last &raquo;</a>
          </li>
        {% endif %}
      </ul>
    {% else %}
      <p>No jobs are available.</p>
    {% endif %}
  </div>
{% endblock content %}
<!-- referenced from: "https://docs.djangoproject.com/en/4.2/intro/tutorial03/" -->
{% comment %} additional reference for tags: "https://docs.djangoproject.com/en/4.2/ref/templates/builtins/" {% endcomment %}
{% comment %} reference for django pagination: "https://docs.djangoproject.com/en/4.2/topics/pagination/" {% endcomment %}
